/* Reset and Box Sizing */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  box-sizing: inherit;
}

/* Root Variables */
:root {
  --gold: #ffa500;
  --white: #ffffff;
  --white-variant: #fafafa;
  --opaque-gold: #ffa50099;
  --blue: #5e48db;
  --black-variant: #0a0a0a;
}

/* Base Styles */
body {
  font-size: 1rem;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img,
.img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon-container {
  box-sizing: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
}

.icon-container.icon-container-medium {
  width: 26px;
  height: 26px;
}

.icon-container.icon-container-large {
  width: 36px;
  height: 36px;
}

.nav-list {
  list-style: none;
}

.padding_16 {
  padding: 16px;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex__row {
  display: flex;
  flex-direction: row;
}

.d-flex__col {
  display: flex;
  flex-direction: column;
}

.align-items__center {
  align-items: center;
}

.justify-content__center {
  justify-content: center;
}

.justify-content__space-around {
  justify-content: space-around;
}

.justify-content__space-between {
  justify-content: space-between;
}

.flex_1 {
  flex: 1;
}

.gap__1 {
  gap: 1rem;
}

.gap__2 {
  gap: 2rem;
}

.gap__3 {
  gap: 3rem;
}

.gap__5 {
  gap: 5rem;
}

.text-align__left {
  text-align: left;
}

.text-align__center {
  text-align: center;
}

.text-transform__uppercase {
  text-transform: uppercase;
}

/* Off-Screen Menu */
.off-screen-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--gold);
  color: var(--white);
  overflow-x: hidden;
  transition: 0.2s ease-in-out;
}

.off-screen-menu[data-menu-state='hidden'] {
  width: 0;
}

.off-screen-menu[data-menu-state='visible'] {
  width: 100%;
}

.off-screen-menu-nav {
}

.off-screen-menu-nav-list {
  gap: 3rem;
}

.off-screen-menu .container {
  width: 50%;
  padding: 2rem;
  gap: 2rem;
}

.off-screen-menu .list-item {
}

.off-screen-menu .icon-group-container {
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 30px;
}

.off-screen-menu .icon-container {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 12px;
  width: 20px;
  height: 20px;
}

.off-screen-menu .btn-container {
  border-radius: 12px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
}

.off-screen-menu .close-off-screen-menu-btn {
  padding: 0;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
}

.join-waitlist-container {
  justify-content: center;
}

.inner-container {
  padding: 1rem;
  border-radius: 50%;
  height: 138px;
  width: 138px;
  background-color: #5e48db;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.join-waitlist-link-off-screen {
}

.join-waitlist-link-off-screen .icon-container {
  padding: 0;
  background-color: transparent;
}

/* Header Section */
.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  gap: 5rem;
}

.header-form {
  flex: 1;
}

.header-form .form-row {
  align-items: center;
  flex: 1;
}

.header-form input {
  order: 1;
  box-sizing: initial;
  height: 30px;
  padding: 8px 12px;
  flex: 1;
}

.header-form .btn {
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
}

.header-form .btn:hover {
  background-color: #ceb9b966;
}

.header-form-submit-btn-container .btn {
}

.menu-toggle-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-toggle-btn {
  background-color: var(--gold);
  border: 2px solid var(--gold);
  border-radius: 7px;
  padding: 0.4rem 0.6rem;
}

.header .nav-list,
.header-form {
  display: none;
}

.header .nav-item a {
  color: gray;
  padding: 8px 12px;
}

.header a.join-wait-list-link {
  color: var(--white);
  background-color: var(--gold);
  border-radius: 10px;
  align-items: center;
  gap: 12px;
}

/* MAIN SECTION STYLES */

.main {
  /* margin-bottom: 2rem; */
}

section {
  padding: 3rem 0;
}

.hero-section {
  /* padding: 3rem 0; */
}

.hero-img-container {
  max-height: 415px;
  overflow-y: hidden;
}

.hero-text {
  font-size: 1rem;
  max-width: 220px;
}

.hero-section .join-wait-list-link {
  color: var(--white);
  background-color: var(--gold);
  padding: 0.6rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.3rem;
  gap: 0.45rem;
}

.sub-section {
  /* background-image: ``; */
  padding-bottom: 0;
}

.section-2 {
  background-color: var(--gold);
  color: var(--white);
  overflow: hidden;
  padding-bottom: 0;
}

.section-2 .text-block {
  padding: 0 3rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.section-2 .img-container {
  overflow: hidden;
}

.section-2 .img-container img {
  /* height: auto;
  max-height: max-content; */
}

.section-2 .phone-img {
  max-height: 380px;
  align-items: flex-start;
  justify-content: flex-end;
}

.section-4 h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: bolder;
}

.section-4 .fancy-text:nth-of-type(1) {
  color: var(--gold);
}

.section-4 .fancy-text:nth-of-type(2) {
  color: var(--blue);
}

.section-4 .join-wait-list-link {
  color: var(--white);
  background-color: var(--gold);
  padding: 0.8rem;
  border-radius: 5px;
  font-weight: bold;
  gap: 0.6rem;
}

.section-5 {
  padding-bottom: 0;
}

.section-5 .interface-img {
  max-height: 360px;
  overflow: hidden;
}

.section-6 {
  color: var(--white);
  background: var(--black-variant);
}

.section-6 .section-6-header {
  padding: 0 2rem;
}

.section-6 .section-6-header h2 {
  font-size: 3.2rem;
  line-height: 1.35;
  align-self: flex-start;
}

.section-6 .section-6-header .join-waitlist-link {
  display: none;
}

.section-6 .features {
  padding: 5rem 2.5rem;
}

.section-6 .feature {
  border-radius: 16px;
  border: 4px solid var(--white);
  padding: 2.4rem 1.6rem;
  max-width: 300px;
  max-height: 300px;
  min-height: 300px;
  min-width: 300px;
}

.section-6 .feature .feature-header .sub-container {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: rgba(255, 165, 0, 0.1);
}

.section-6 .feature .feature-content {
}

.section-6 .feature h3 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.section-6 .feature .text {
  font-size: 1.2rem;
}

.section-6 .mobile-join-wait-list-container a {
  background-color: var(--gold);
  color: var(--white);
  padding: 8px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 1.8rem;
  font-weight: bold;
}

.mobile-join-wait-list-container .sub-container {
  gap: 1.5rem;
}

.section-6 .section-6-header h2 .fancy-text {
  color: var(--gold);
}

.section-6 .section-6-header .sub-container {
  padding: 1rem;
  border-radius: 50%;
  height: 138px;
  width: 138px;
  background-color: var(--gold);
  color: var(--white);
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  font-weight: bold;
  box-sizing: content-box;
}

.section-7 {
  padding: 4rem 2rem;
}

.faq-section {
  padding: 4rem 2rem;
}

.faq-section header h2 {
  font-size: 3rem;
  color: #0a0a0a;
}

.faq-section header h2 .fancy-text:nth-of-type(2) {
  color: var(--gold);
  text-shadow: 4.96px 2.48px 0px #000000;
}

.accordion-container {
  gap: 1.2rem;
}

.accordion {
  gap: 0;
  transition: gap 0.2s ease-in-out;
}

.accordion.open {
  gap: 1rem;
}

.accordion-label {
  background-color: var(--white-variant);
  padding: 1.2rem 0.8rem;
  border-radius: 7px;
  cursor: pointer;
}

.accordion-label:hover {
  background-color: #decdcd;
}

.accordion .arrow-up {
  display: none;
}

.accordion.open .arrow-down {
  display: none;
}

.accordion.open .arrow-up {
  display: inline-block;
}

.faq-section .accordion-content {
  padding: 0 2.6rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.6);
}

.section-9 {
  margin: 3rem 0;
}

.section-9 h2 {
  font-size: 2.6rem;
}

.section-9 .fancy-text {
  color: var(--gold);
}

.section-9 a {
  padding: 1.4rem;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--gold);
}

/* MAIN SECTION STYLES END */

/* Footer Section */
.footer {
  background-color: var(--gold);
  color: var(--white);
  padding-bottom: 0;
}

.footer .generic-container {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footer-section-container {
  align-items: center;
  color: var(--white);
  max-width: 500px;
  gap: 18px;
  padding: 2.3rem 3rem 0 3rem;
}

.footer__title {
  text-align: center;
  font-size: 2rem;
}

.footer-form {
  gap: 0.8rem;
  background: var(--white-variant);
  padding: 10px 8px;
  border-radius: 8px;
  width: 75%;
}

.footer-form .form-row {
}

.footer-form .form-row:nth-of-type(1) {
  flex: 1;
}

.footer-form input {
  width: 100%;
  border: none;
  font-size: 1.2rem;
  padding: 6px 5px;
}

.footer-form input:focus {
  border: none;
  outline: 0.5px solid var(--gold);
}

.footer input::placeholder {
  font-size: 1.2rem;
}

.footer-form-submit-btn {
  cursor: pointer;
  background-color: var(--gold);
  color: var(--white);
  border: 1px solid var(--gold);
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 6px 5px;
}

.nav__footer {
  margin: 30px;
}

.footer .nav-list {
  gap: 40px;
  align-items: center;
  list-style: none;
}

.footer .nav-item {
  font-weight: bold;
  font-size: 2rem;
}

.footer .icon-group-container {
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 30px;
}

.footer .icon-container {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  height: 28px;
  width: 28px;
  padding: 16px;
}

.copy-right-section-container {
  gap: 20px;
}

.copy-right-section-container .img-container {
}

.copy-right-text {
  text-align: center;
  font-size: 1.2rem;
}

/* Responsive Styles */
@media (min-width: 425px) {
  .footer-form {
    flex-direction: row;
    padding: 8px;
  }

  .footer-form input {
    padding: 1rem 1.2rem;
  }

  .footer-form-submit-btn {
    padding: 1rem 1.2rem;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1.5rem;
  }

  .icon-container {
    width: 20px;
    height: 20px;
  }

  .logo-link-container {
    width: 20%;
  }

  .menu-toggle-btn-container {
    display: none;
  }

  .header .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 18px;
  }

  .hero-section .join-wait-list-link {
    padding: 1.8rem;
    border-radius: 12px;
    font-size: 2rem;
  }

  .hero-text {
    font-size: 2rem;
    max-width: 600px;
  }

  .sub-section {
    display: none;
  }

  .section-2 {
    flex-direction: row;
  }

  .section-2 > div {
    flex: 1;
  }

  .section-2 .phone-img {
    max-height: 300px;
  }

  .section-4 h2 {
    font-size: 5rem;
  }

  .section-4 .join-wait-list-link {
    padding: 1.8rem;
    font-size: 2rem;
    border-radius: 12px;
  }

  .section-6 .section-6-header h2 {
    font-size: 5.2rem;
    line-height: 1.35;
    align-self: flex-start;
  }

  .section-6 .section-6-header .join-waitlist-link {
    display: flex;
    font-size: 2.4rem;
  }

  .section-6 .mobile-join-wait-list-container {
    display: none;
  }

  /* .features-infinite-scroll {
    display: flex;
    overflow-x: hidden;
    min-height: 350px;
    position: relative;
  }

  .section-6 .features {
    flex-direction: row;
    animation: primary 6s linear infinite;
  }

  .section-6 .features.secondary-features {
    animation: secondary 6s linear infinite;
  } */

  .section-7 {
    padding: 6rem 3.5rem;
  }

  .faq-section {
    flex-direction: row;
  }

  .faq-section header {
    min-width: max-content;
  }

  .faq-section header h2 .fancy-text:nth-of-type(2) {
    text-shadow: none;
    color: black;
  }

  .faq-section .title {
    font-size: 1.8rem;
  }

  .faq-section .accordion-content {
    font-size: 1.6rem;
  }

  .section-9 {
    gap: 4rem;
  }

  .section-9 h2 {
    font-size: 3.5rem;
    line-height: 1.25;
  }

  .message-form-container {
    width: 70%;
  }

  .footer .nav-list {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 2rem;
  }

  .header .nav-item a {
    padding: 12px 18px;
  }

  .icon-container {
    width: 25px;
    height: 25px;
  }

  .section-2 .phone-img {
    max-height: 350px;
  }

  .section-4 h2 {
    font-size: 7rem;
  }

  .section-6 {
    flex-direction: row;
  }

  .faq-section header h2 {
    font-size: 5.2rem;
  }

  .section-9 h2 {
    font-size: 5.2rem;
  }

  .footer .footer-section-container {
    max-width: 800px;
  }

  .footer .footer__title {
    max-width: 450px;
  }
}

@media (min-width: 1440px) {
  .header-form {
    display: flex;
  }

  .icon-container {
    width: 35px;
    height: 35px;
  }

  .section-2 .phone-img {
    max-height: 500px;
  }
}

/* Utility Classes */
.hidden {
  display: none;
}

/* TRIAL AT ANIMATING INFINITE SCROLL */
/* @keyframes primary {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes secondary {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
} */
